<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>MyPlantApp</title>
</head>

<body>
<div id="box">

  {% include 'header.html' %}

    <!-- delete plant form -->
    <section id="delete-page" class="auth">
        <form method="post"  action="{% url 'delete plant' pk=plant.pk %}" id="delete">
            <div class="container">
                <h1>Delete Plant</h1>
                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Delete Plant">

            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>
